* {
    font-family: 'Imperial Script', cursive;
}
.header {
    height: 300px;
    width: 800px;
    /* background-image: url("../img/imgbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(15, 236, 225);
    font-size: 36px;
    /* text-align: center;
    margin-top: 0%; */
}
.header .img_banner, .header div{
    width: 100%;
    height: 100%;
}

.header div{
    position: relative;
}

.header .title{
    position: absolute;
    z-index: 50;
    top: 25%;
    left: 40%;
}
.main {
    height: 450px;
    width: 800px;
    background-color: rgb(153, 147, 144);
    display: flex;

}

.main .left {
    height: 100%;
    width: 30%;
    background-color: thistle;

}

.main .right {
    height: 100%;
    width: 70%;
    background-color: rgb(211, 211, 197);
}

ul {
    /* bỏ margin tránh khoảng trống */
    margin: 0;
    /* không dùng chấm trong list */
    list-style: none;
    /* thêm viền top và left  */
    padding-top: 20px;
    padding-left: 25px;
}

.content {
    padding: 15px;
    font-size: 15px;

}

.footer {
    height: 150px;
    width: 800px;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    color: white;
    font-size: 20px;
}
