.header {
    height: 10%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(15, 236, 225);
    font-size: 36px;

}

.header .img_banner, .header div, .main .left .img_article, .main .left div ,.main .right .img_section, .main .right div 
{
    width: 100%;
    height: 100%;
}

.header div, .main .left div, .main .right div 
{
    position: relative;
}

.header .title{
    position: absolute;
    z-index: 0;
    top: 25%;
    left: 40%;
}

.main {
    height: 50%;
    width: 100%;
    background-color: rgb(153, 147, 144);
    display: flex;
}

.main .left {
    height: 100%;
    width: 30%;
    background-color: thistle;

}

.main .right {
    height: 100%;
    width: 70%;
    background-color: rgb(211, 211, 197);
}

.main .left ul {
    position: absolute;
    z-index: 50;
    top: 15%;
    left: 15%;
    list-style: none;
}

.main .right .nd{
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;
    font-size: 18px;
    color: rgb(246, 250, 0);
    padding: 5px
}

.footer {
    height: 20%;
    width: 100%;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    color: white;
    font-size: 20px;
}
